config SHIELD_LYNX_DONGLE
  def_bool $(shields_list_contains,lynx_dongle)

config SHIELD_LYNX_LEFT
  def_bool $(shields_list_contains,lynx_left)

config SHIELD_LYNX_RIGHT
  def_bool $(shields_list_contains,lynx_right)
