#undef ZMK_BEHAVIORS_KEEP_ALL

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
            &kp ESC &kp N1 &kp N2 &kp N3 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp A &kp A &kp A &kp A &kp A
            &kp A   &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A &kp A &kp A &kp A &kp A
            &kp A   &kp A  &kp A  &kp A  &kp A  &kp A         &kp A  &kp A  &kp A  &kp A &kp A &kp A &kp A &kp A
            &kp A          &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A &kp A &kp A &kp A
            &kp A   &kp A  &kp A         &kp A         &kp A  &kp A         &kp A  &kp A &kp A &kp A &kp A &kp A
      >;
    };
  };
};
