if SHIELD_CALYPSO_LEFT
  config ZMK_KEYBOARD_NAME
    default "Calypso"

  config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_CALYPSO_LEFT || SHIELD_CALYPSO_RIGHT
  config ZMK_SPLIT
    default y
endif
