#include <physical_layouts.dtsi>

/ {
    keychron_layout: keychron_layout {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT_ansi_69";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   75   25       0     0     0>
            , <&key_physical_attrs 100 100  175   25       0     0     0>
            , <&key_physical_attrs 100 100  275    0       0     0     0>
            , <&key_physical_attrs 100 100  375   25       0     0     0>
            , <&key_physical_attrs 100 100  475   25       0     0     0>
            , <&key_physical_attrs 100 100  575   25       0     0     0>
            , <&key_physical_attrs 100 100  675   25       0     0     0>
            , <&key_physical_attrs 100 100  950   25       0     0     0>
            , <&key_physical_attrs 100 100 1050   25       0     0     0>
            , <&key_physical_attrs 100 100 1150   25       0     0     0>
            , <&key_physical_attrs 100 100 1250   25       0     0     0>
            , <&key_physical_attrs 100 100 1350    0       0     0     0>
            , <&key_physical_attrs 100 100 1450   25       0     0     0>
            , <&key_physical_attrs 200 100 1550   25       0     0     0>
            , <&key_physical_attrs 100 100 1800    0       0     0     0>
            , <&key_physical_attrs 150 100   50  125       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  325  125       0     0     0>
            , <&key_physical_attrs 100 100  425  125       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100  625  125       0     0     0>
            , <&key_physical_attrs 100 100  900  125       0     0     0>
            , <&key_physical_attrs 100 100 1000  125       0     0     0>
            , <&key_physical_attrs 100 100 1100  125       0     0     0>
            , <&key_physical_attrs 100 100 1200  125       0     0     0>
            , <&key_physical_attrs 100 100 1325  125       0     0     0>
            , <&key_physical_attrs 100 100 1425  125       0     0     0>
            , <&key_physical_attrs 100 100 1525  125       0     0     0>
            , <&key_physical_attrs 150 100 1625  125       0     0     0>
            , <&key_physical_attrs 100 100 1825  150       0     0     0>
            , <&key_physical_attrs 175 100   25  225       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  350  225       0     0     0>
            , <&key_physical_attrs 100 100  450  225       0     0     0>
            , <&key_physical_attrs 100 100  550  225       0     0     0>
            , <&key_physical_attrs 100 100  650  225       0     0     0>
            , <&key_physical_attrs 100 100  925  225       0     0     0>
            , <&key_physical_attrs 100 100 1025  225       0     0     0>
            , <&key_physical_attrs 100 100 1125  225       0     0     0>
            , <&key_physical_attrs 100 100 1225  225       0     0     0>
            , <&key_physical_attrs 100 100 1375  225       0     0     0>
            , <&key_physical_attrs 100 100 1475  225       0     0     0>
            , <&key_physical_attrs 225 100 1575  225       0     0     0>
            , <&key_physical_attrs 100 100 1850  250       0     0     0>
            , <&key_physical_attrs 225 100    0  325       0     0     0>
            , <&key_physical_attrs 100 100  225  325       0     0     0>
            , <&key_physical_attrs 100 100  375  325       0     0     0>
            , <&key_physical_attrs 100 100  475  325       0     0     0>
            , <&key_physical_attrs 100 100  575  325       0     0     0>
            , <&key_physical_attrs 100 100  675  325       0     0     0>
            , <&key_physical_attrs 100 100  850  325       0     0     0>
            , <&key_physical_attrs 100 100  950  325       0     0     0>
            , <&key_physical_attrs 100 100 1050  325       0     0     0>
            , <&key_physical_attrs 100 100 1150  325       0     0     0>
            , <&key_physical_attrs 100 100 1250  325       0     0     0>
            , <&key_physical_attrs 100 100 1425  325       0     0     0>
            , <&key_physical_attrs 175 100 1525  325       0     0     0>
            , <&key_physical_attrs 100 100 1725  350       0     0     0>
            , <&key_physical_attrs 125 100    0  425       0     0     0>
            , <&key_physical_attrs 125 100  125  425       0     0     0>
            , <&key_physical_attrs 125 100  375  425       0     0     0>
            , <&key_physical_attrs 225 100  500  425       0     0     0>
            , <&key_physical_attrs 100 100  725  425       0     0     0>
            , <&key_physical_attrs 100 100  875  425       0     0     0>
            , <&key_physical_attrs 275 100  975  425       0     0     0>
            , <&key_physical_attrs 100 100 1250  425       0     0     0>
            , <&key_physical_attrs 100 100 1625  450       0     0     0>
            , <&key_physical_attrs 100 100 1725  450       0     0     0>
            , <&key_physical_attrs 100 100 1825  450       0     0     0>
            ;
    };
};
